.body{
    font-family: "roboto-moto", monospace;
    background-color: rgb(230, 234, 240);
}

.header{
    background-color: rgb(64, 19, 228);
}

.header-title{
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    padding: 30px, 0;
}

.start{
    padding: 30px 0;
    text-align: center;
}

.start-input{
    display: block;
    margin: 15px auto;
    padding: 7px 15px;
    border-radius: 7px;
    border: 1px solid #adadad;
}

.btn {
    color: white;
    background-color: #5548a1;
}

.start1{
    padding: 30px 0;
    text-align: center;
}

.btn {
    color: white;
    background-color: #5548a1;
}

.start2{
    padding: 30px 0;
    text-align: center;
}

.btn {
    color: white;
    background-color:  #5548a1;
} 



.game{
    display: inline;; /* Para mostrar cambiar a flex */
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}
.game-user{
    display: grid;
    justify-content: flex-end;
}
.game-user-name{
    /*text-transform: uppercase;*/
    font-size: 20px; 
    text-align: center;
} 



.btn2 {
    color: white;
    background-color: #a15048;
}

.btn2 {
    background-color: #a15048;
    color: white;
    border: 0;
    padding: 10px 40px;
    border-radius: 7px;
    margin: 30px auto 0;
    max-width: 120px;
    text-align: center;
}

.user{
    display: grid;
    justify-content: flex-end;
    width: 33.3%    
}
.user-name{
    /*text-transform: uppercase;*/
    font-size: 20px; 
    text-align: center;
} 
.user-label{
    /*text-transform: uppercase;*/
    font-size: 16px;
    text-align: center;
    margin: 10px 0; 
}
.user-select{ background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+)
    no-repeat 95% 50%;
  -moz-appearance: none; /*prefijo para eliminar estilos por defecto en firefox*/
  -webkit-appearance: none; /*prefijo para eliminar estilos por defecto en chrome y safari*/
  appearance: none;
  padding: 7px 15px;
  border-radius: 7px;
  border: 1px solid #adadad;
  cursor: pointer;
  width: 200px;
  margin: 0 aut
}








